@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="login-page">
    <div class="login-right">
		<div class="login-card">
			<h1 style="margin:0;position: relative; top: 5px" class="register-title">Welcome to <span>Persol HMS<span></h1>
			<div class="">
				<div class="fs-6">
					<h1 class="fs-4 to-register">@ViewData["Title"]</h1>
				</div>
                <form class="registerform" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="my-1">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                            <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                            <label asp-for="Input.FirstName"></label>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="my-1">
                        <div class="form-floating">
                            <input asp-for="Input.MiddleName" class="form-control" autocomplete="middlename" aria-required="true" />
                            <label asp-for="Input.MiddleName"></label>
                            <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="my-1">
                        <div class="form-floating">
                            <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" />
                            <label asp-for="Input.LastName"></label>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="my-1">
                        <div class="form-floating">
                            <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.UserName"></label>
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="my-1">
                        <div class="form-floating">
                            <input asp-for="Input.Email" class="form-control" type="email" autocomplete="email" aria-required="true" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="my-1">
                        <div class="form-floating">
                            <input asp-for="Input.DateOfBirth" class="form-control" type="date" aria-required="true" />
                            <label asp-for="Input.DateOfBirth"></label>
                            <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="my-1">
                        <div class="form-floating">
                            <select asp-for="Input.DepartmentId" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Select Department</option>
                                <option value="1">Records</option>
                                <option value="2">Nursing</option>
                                <option value="3">Doctor</option>
                                <option value="4">Lab</option>
                                <option value="6">Pharmacy</option>
                                <option value="7">Cashier</option>
                            </select>
                            <span asp-validation-for="Input.DepartmentId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="my-1">
                        <div class="form-floating">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="my-1">
                        <div class="form-floating">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
					<button id="registerSubmit" type="submit" class="btn auth-button">Create new account</button>	
					<p class="to-register">Already have an account?
						<a asp-page="./Login" asp-route-returnUrl="/Identity/Account/Login">
							Login to account
						</a>
					</p>
                </form>
			</div>
		</div>
    </div>
    <div class="login-left">
        <img src="~/images/background.jpg" class="back"/>
        @* <div class="cover"></div> *@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
